.landing_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.landing_page img {
  width: 800px;
}

.landing_page p {
  width: 800px;
  font-size: 1.3em;
  margin: 20px;
  text-align: justify;
}
