.character_sheet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100%;
  padding: 15px;
  background: var(--secondary-background);
}

.character_name {
  font-size: 1.3em;
  padding: 10px 15px;
  background: transparent;
  font-weight: 200;
}

.character_image {
  border: 2px solid transparent;
  border-radius: 100vmax;
  transition: all 0.3s;
}

.character_image:hover {
  border-color: var(--alternative);
}

.stat_bars_and_attributes_gap {
  height: 10px;
}
