.entry {
  width: 300px;
  height: 100%;
  background: var(--colorDarkBG);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  --stat-bar-space: 6px;
  --stat-bar-proportion: 50%;
  --attribute-space: 6px;
  --attribute-proportion: 25%;
}

.marginBottomDiv {
  margin-bottom: 8px;
}

.marginBottomDiv:last-child {
  margin-bottom: 0;
}

.characterMainImage {
  margin: 10px 0;
}

.statBarContainer {
  display: flex;
  width: 100%;
}

.statBarContainer * {
  width: calc(50% - var(--stat-bar-space) / 2);
  margin-right: var(--stat-bar-space);
}

.statBarContainer > :last-child {
  margin-right: 0;
}

.attributeContainer {
  display: flex;
  width: 100%;
}

.attributeContainer * {
  width: calc(var(--attribute-proportion) - var(--attribute-space) / 2);
  margin-right: var(--attribute-space);
}

.attributeContainer > :last-child {
  width: calc(100% - var(--attribute-proportion) - var(--attribute-space) / 2);
  margin-right: 0;
}
