:root {
  --alternative: hsl(30deg, 70%, 50%);
  --background: hsl(230deg, 15%, 15%);
  --secondary-background: hsl(230deg, 15%, 30%);
  --alternative-background: black;
  --background-contrast: white;
  --alternative-background-contrast: #ddd;
  --red-background: hsl(0deg, 55%, 35%);
  --yellow-background: hsl(60deg, 55%, 35%);
  --blue-background: hsl(240deg, 55%, 35%);
  --purple-background: hsl(300deg, 55%, 35%);
  --orange-background: hsl(30deg, 55%, 35%);
  --cyan-background: hsl(200deg, 55%, 35%);
  --green-background: hsl(140deg, 55%, 35%);
}

.bg__background {
  background: var(--background);
}
