/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* GLOBAL SETTINGS */

:root {
    --text-color: white;
    --char-sheet-width: 400px;
    --dices-height: 50px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: hsl(230deg, 15%, 15%);
}

ul {
    list-style: none;
}

button {
    background: none;
    border: none;
}


/* ASIDE (CHARACTER SHEET) */

aside {
    height: 100%;
    width: var(--char-sheet-width);
    background: hsl(230deg, 15%, 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 70px;
}

aside > * {
    margin: 5px 0;
}

aside input,
aside p {
    padding: 5px 10px;
    border: none;
    border-radius: 100px;
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    background: hsl(230deg, 15%, 15%);
}

.stat-bar-input:nth-of-type(1) input {
    background: hsl(0deg, 30%, 15%);
}

.stat-bar-input:nth-of-type(2) input {
    background: hsl(60deg, 30%, 15%);
}

.stat-bar-input,
.attributes-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.stat-bar-input input {
    font-size: 1;
    width: calc(50% - 5px);
}

.stat-bar-input input:first-child {
    margin-right: 10px;
}

.attributes-input input {
    width: 60px;
    margin-right: 10px;
}

.attributes-input p {
    flex: 1;
    text-align: center;
    font-size: 1.2em;
}


/* MAIN (HUD) */

main {
    width: calc(100% - var(--char-sheet-width));
    display: flex;
    flex-direction: column;
}

#hud {
    height: calc(100% - var(--dices-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-hud {
    position: relative;
    margin-right: 100px;
}

.player-hud p{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.player-hud img {
    width: 180px;
}

.player-hud .bar {
    position: absolute;
    width: 120px;
    height: 12px;
    z-index: -1;
    border-radius: 20px;
    left: 150px;
}

.player-hud .health-bar {
    background: hsl(0deg, 60%, 30%);
    top: calc(50% - 12px);
}

.player-hud .stamina-bar {
    background: hsl(60deg, 60%, 30%);
    top: 50%;
}

.player-hud .health-bar.p1-bar {
    width: 84px;
}
.player-hud .stamina-bar.p1-bar {
    width: 48px;
}
.player-hud .health-bar.p2-bar {
    width: 20px;
}
.player-hud .stamina-bar.p2-bar {
    width: 120px;
}



#dices {
    height: var(--dices-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

#dices img {
    height: var(--dices-height);
    margin: 0 20px;

}