.character_image_container {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  min-height: 240px;
}

.character_image {
  border: 2px solid transparent;
  border-radius: 100vmax;
  transition: all 0.3s;
  height: 100%;
  width: 100%;
}

.character_image:hover {
  border-color: var(--alternative);
}
